{{#definitions}}
INSERT INTO kronologic.meeting_definitions(
	id, team_id, routing, distribution, name, description, enabled, recycle_after_hours, buffer_duration_minutes, properties, routing_logic)
	VALUES ({{id}}, {{team_id}}, '{{routing}}', '{{distribution}}', '{{name}}', '{{description}}', true, {{recycle_after_hours}}, {{buffer_duration_minutes}}, '{{& properties}}', '{{& routing_logic}}');
{{/definitions}}
