{{#events}} 
INSERT INTO kronologic.calendar_events(
	event_id, name, event_start, calendar_id, meeting_id, event_end, user_id, contact_id, title, location, notes, description, timezone, sequence, state, ical_uid)
	VALUES ('{{id}}', '{{name}}', '{{start}}', '{{calendarId}}', {{meetingId}}, '{{end}}', {{userId}}, {{contactId}}, 'title', 'location', 'notes', 'description', 'timezone', 0, '{{state}}', 'uuid');
{{/events}} 