{{#meetings}}
INSERT INTO kronologic.meetings(
	meeting_definition_id, user_id, active, contact_id, attempts, attempts_total, status)
	VALUES ({{meeting_definition_id}}, {{user_id}}, true, {{contact_id}}, {{attempts}}, {{attempts_total}}, '{{status}}') RETURNING *;
{{/meetings}}